<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mr.cwh.system.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.mr.cwh.system.condition.CityCondition">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="level" jdbcType="BOOLEAN" property="level" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, parent_id, `level`
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_city
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="getAll" resultType="com.mr.cwh.system.condition.CityCondition">
      select
      <include refid="Base_Column_List" />
      from t_city
    </select>
    <select id="selectByPid" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from t_city
      where parent_id = #{parentId,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultType="com.mr.cwh.system.condition.CityCondition">
      select
      <include refid="Base_Column_List" />
      from t_city
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_city
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.mr.cwh.system.condition.CityCondition" useGeneratedKeys="true">
    insert into t_city (`name`, parent_id, `level`
      )
    values (#{name,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, #{level,jdbcType=BOOLEAN}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.mr.cwh.system.condition.CityCondition" useGeneratedKeys="true">
    insert into t_city
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `name`,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="level != null">
        `level`,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        #{level,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mr.cwh.system.condition.CityCondition">
    update t_city
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mr.cwh.system.condition.CityCondition">
    update t_city
    set `name` = #{name,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      `level` = #{level,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>